.jumbotron {
  width: 1200px;
}

.wrapper {
margin: 0 auto;
  max-width: 1200px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-top: 150px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.no-decor {
  cursor: pointer;
}

.no-decor::after {
  content: "\f0dc";
  font-family: FontAwesome;
  font-weight: 50;
  font-size: 15px;
  position: relative;
  left: 5px;
}

